section {
  display: grid;
  grid-gap: 0.5rem;
  padding: 1rem;
}
article {
  background-color: #293462;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
article h4 {
  text-align: center;
  font-size: 22px;
}
@media (min-width: 600px) {
  section {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 768px) {
  section {
    grid-template-columns: auto auto auto;
  }
}
